BasedOnStyle: LLVM

AlignConsecutiveDeclarations: AcrossComments
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Right
SpaceAfterControlStatementKeyword: true
UseTab: Never
